* {
    font-family: BalsamiqSans, system-ui;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: BalsamiqSans;
    src: url('/fonts/BalsamiqSans-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: BalsamiqSans;
    src: url('/fonts/BalsamiqSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.sky {
    height: 250px;
    background: #43d1ea;
    position: relative;
}

.sky.fail {
    background: #3a5054;
}

.cost {
    text-align: right;
    margin-right: 15%;
    font-size: 30px;
    font-weight: 500;
    padding-top: 25px;
    color: #a5580b
}

.clouds img {
    width: 30px;
    position: absolute;
    
}

.first_cloud {
    top: 30%;
    right: 15%;
}

.second_cloud {
    top: 5%;
    left: 20%;
}

.third_cloud {
    bottom: 10%;
    left: 35%;
}

.water {
    height: 200px;
    background: #0059c7;
    position: relative;
}

.water.fail {
    height: 200px;
    background: #0f8458;
    position: relative;
}

.fishs img {
    width: 60px;
    position: absolute;
}

.first_fish {
    top: 20%;
    left: 10%;
}

.second_fish {
    top: 40%;
    right: 10%;
}

.third_fish {
    bottom: 5%;
    right: 49%;
}

.earth {
    height: 500px;
    background: #078617;
    position: relative;
}

.earth.fail {
    background: #afab35;
}

.flowers img {
    width: 90px;
    position: absolute;
}

.first_flower {
    top: 15%;
    left: 7%;
}

.second_flower {
    top: 20%;
    right: 10%;
}

.third_flower {
    bottom: 5%;
    right: 30%;
}

button {
    background: #a5580b;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #f0ff1d;
    margin: 0 auto;
    font-size: 19px;
    font-weight: 500;
    border: 1px solid;
    padding: 5px 10px;
}

button:hover {
    color: #0e2bff;
    background: #098617;
}

button:active {
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.15);
}

.body {
    margin: 100px 0 0 0;
}

.prav {
    background: green;
    padding: 10px;
}

.error {
    background: red;
    padding: 10px;
}

.error_wrap {
    width: 300px;
    height: 300px;
}
.error_3 {
    background: yellow;
    width: 100%;
    height: 100%;
}
.error_5 {
    background: black;
    width: 100%;
    height: 100%;
}

.form {
    color: red;
    background-color: blue;
}

.form.important{
    color: black;
    background-color: grey;
}




.popup {
    background: #de921f;
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #a5590b;
    display: flex;
    flex-direction: column;
    padding: 15px 0 10px 0;
}

.popup_wrap {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 35%;
}

.popup p {
    text-align: center;
    font-weight: 500; 
    text-transform: uppercase;
    font-size: 32px;
    color: #425e63;
}

.popup_inner {
    min-height: 100px;
    margin: 10px 15px;
}

.overlay {
    background: rgba(0, 0, 0, 0.4);
	display: flex;
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1rem;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

form {
    display: flex;
}

input {
    height: 31px;
    width: 100%;
    font-size: 18px;
}

.btn_disabled {
    pointer-events: none;
    opacity: 0.3;
    background: black;
    cursor: default;
}

.container {
    position: relative;
}

.item {
    position: absolute;
    z-index: 1;
    left: calc(50% - 100px);
}

.item img {
    width: 100px;
    height: 100px;
}

.buttons {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #e7e9ef;
    width: 130px;
    justify-content: space-between;
    padding: 20px 0px 0 20px;
}

.buttons img {
    width: 35px;
}

.buttons p {
    margin-bottom: 7px;
}